{% load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Contact Page</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="{% static '/css/Contact.css' %}">
	</head>
	<body>
	    <div class="w3-top">
	        <div class="w3-bar w3-black w3-card w3-left-align w3-large">
	            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
	            <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
	            <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
	        </div>
	    </div>
		<header class="w3-container w3-grey w3-center" style="padding:128px 16px">
		    <h1 class="w3-margin w3-jumbo">
		    	Contact Us
		    </h1>
		</header>
		<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
            <div class="w3-row w3-padding-3">
                <div class="w3-col m6 w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker" style="width:30px"></i> Chandigarh, India<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: c018358@ccet.ac.in<br>
                </div>
                <div class="w3-col m6">
                    <form action="/action_page.php" target="_blank">
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                            </div>
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                            </div>
                        </div>
                        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
	</body>
    <style type="text/css">
		body, h1, h2, h3, h4, h5, h6 {
			font-family: "Lato", sans-serif
		}

		.w3-bar, h1, button {
			font-family: "Montserrat", sans-serif
		}

		a, a:hover {
			text-decoration: none;
		}
	</style>
</html>