<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1><center>Enter Details in form</center></h1>
    
    <!-- 
        Post Metod is used to Hide the Data which is being passed from the form to the backend and prevent the 
        data from being visisble in the url..  {% csrf_token %} -> this is required when we are using post request, 
        this is used for verification of form 
    -->

    <form action="/GeneratedResume" method='POST'>
        {% csrf_token %}
        <label>Name: </label><input type="text" name="Name" id="CandidateName">
        <br><hr>
        <label>Designation: </label><input type="text" name="Designation" id="CandidateDesignation">
        <br><hr>
        <label>Description: </label><textarea name="Description" id="CandidateDescription" rows="10" cols="100"></textarea>
        <br><hr>
        <label>Gmail: </label><input type="text" name="Gmail" id="CandidateGmail">
        <br><hr>
        <label>Phone Number: </label><input type="text" name="PhoneNumber" id="CandidatePhoneNumber">
        <br><hr>
        <label>Location: </label><input type="text" name="Location" id="CandidateLocation">
        <br><hr>
        <label>Linked In: </label><input type="text" name="LinkedIn" id="CandidateLinkedIn">
        <br><hr>
        <label>Github: </label><input type="text" name="Github" id="CandidateGithub">
        <br><hr><hr>




        <label>Education: </label>
        <br><br><hr>
        <label>Field: </label><input type="text" name="Field" id="CandidateField">
        <br><br>
        <label>College: </label><input type="text" name="College" id="CandidateCollege">
        <br><br>
        <label>Timeline: </label><input type="text" name="StudyStartTime" id="StudyStartTime">&emsp;<input type="text" name="StudyEndTime" id="CandidateGithub">
        <br><br>
        <label>Current GPA: </label><input type="text" name="GPA" id="CandidateGPA">
        <br><br><hr>
        <label>Field: </label><input type="text" name="Field" id="CandidateField">
        <br><br>
        <label>College: </label><input type="text" name="College" id="CandidateCollege">
        <br><br>
        <label>Timeline: </label><input type="text" name="StudyStartTime" id="StudyStartTime">&emsp;<input type="text" name="StudyEndTime" id="CandidateGithub">
        <br><br>
        <label>Current GPA: </label><input type="text" name="GPA" id="CandidateGPA">
        <br><br><hr>
        <label>Field: </label><input type="text" name="Field" id="CandidateField">
        <br><br>
        <label>College: </label><input type="text" name="College" id="CandidateCollege">
        <br><br>
        <label>Timeline: </label><input type="text" name="StudyStartTime" id="StudyStartTime">&emsp;<input type="text" name="StudyEndTime" id="CandidateGithub">
        <br><br>
        <label>Current GPA: </label><input type="text" name="GPA" id="CandidateGPA">
        <br><br><hr><hr>




        <label>Personal Projects: </label>
        <br><br><hr>
        <label>Heading: </label><input type="text" name="ProjectHeading" id="ProjectHeading">
        <br><br>
        <label>TimeLine: </label><input type="text" name="ProjectStartTime" id="ProjectStartTime">&emsp;<input type="text" name="ProjectEndTime" id="ProjectEndTime">
        <br><br>
        <label>Description: </label><input type="text" name="ProjectDescription" id="ProjectDescription">
        <br><br><hr><br>
        <label>Heading: </label><input type="text" name="ProjectHeading" id="ProjectHeading">
        <br><br>
        <label>TimeLine: </label><input type="text" name="ProjectStartTime" id="ProjectStartTime">&emsp;<input type="text" name="ProjectEndTime" id="ProjectEndTime">
        <br><br>
        <label>Description: </label><input type="text" name="ProjectDescription" id="ProjectDescription">
        <br><br><hr><br>
        <label>Heading: </label><input type="text" name="ProjectHeading" id="ProjectHeading">
        <br><br>
        <label>TimeLine: </label><input type="text" name="ProjectStartTime" id="ProjectStartTime">&emsp;<input type="text" name="ProjectEndTime" id="ProjectEndTime">
        <br><br>
        <label>Description: </label><input type="text" name="ProjectDescription" id="ProjectDescription">
        <br><br><hr><br>
        <label>Heading: </label><input type="text" name="ProjectHeading" id="ProjectHeading">
        <br><br>
        <label>TimeLine: </label><input type="text" name="ProjectStartTime" id="ProjectStartTime">&emsp;<input type="text" name="ProjectEndTime" id="ProjectEndTime">
        <br><br>
        <label>Description: </label><input type="text" name="ProjectDescription" id="ProjectDescription">
        <br><br><hr><hr>




        <label>Skills: </label>
        <br><br><hr><br>
        <label>Skill 1: </label><input type="text" name="Skill" id="CandidateSkill1">
        <br><br>
        <label>Skill 2: </label><input type="text" name="Skill" id="CandidateSkill2">
        <br><br>
        <label>Skill 3: </label><input type="text" name="Skill" id="CandidateSkill3">
        <br><br>
        <label>Skill 4: </label><input type="text" name="Skill" id="CandidateSkill4">
        <br><br>
        <label>Skill 5: </label><input type="text" name="Skill" id="CandidateSkill5">
        <br><br>
        <label>Skill 6: </label><input type="text" name="Skill" id="CandidateSkill6">
        <br><br>
        <label>Skill 7: </label><input type="text" name="Skill" id="CandidateSkill7">
        <br><br>
        <label>Skill 8: </label><input type="text" name="Skill" id="CandidateSkill8">
        <br><br>
        <label>Skill 9: </label><input type="text" name="Skill" id="CandidateSkill9">
        <br><br>
        <label>Skill 10: </label><input type="text" name="Skill" id="CandidateSkill10">
        <br><br><hr><hr>




        <label>Achievements: </label>
        <br><br><hr><br>
        <label>Achievement Name: </label><input type="text" name="AchievementHeading" id="AchievementHeading">
        <br><br>
        <label>Date: </label><input type="text" name="AchievementDate" id="AchievementDate">
        <br><br>
        <label>Achievement Description: </label><input type="text" name="AchievementDescription" id="AchievementDescription">
        <br><br><br><hr><br>
        <label>Achievement Name: </label><input type="text" name="AchievementHeading" id="AchievementHeading">
        <br><br>
        <label>Date: </label><input type="text" name="AchievementDate" id="AchievementDate">
        <br><br>
        <label>Achievement Description: </label><input type="text" name="AchievementDescription" id="AchievementDescription">
        <br><br><br><hr><br>
        <label>Achievement Name: </label><input type="text" name="AchievementHeading" id="AchievementHeading">
        <br><br>
        <label>Date: </label><input type="text" name="AchievementDate" id="AchievementDate">
        <br><br>
        <label>Achievement Description: </label><input type="text" name="AchievementDescription" id="AchievementDescription">
        <br><br><br><hr><br>
        <label>Achievement Name: </label><input type="text" name="AchievementHeading" id="AchievementHeading">
        <br><br>
        <label>Date: </label><input type="text" name="AchievementDate" id="AchievementDate">
        <br><br>
        <label>Achievement Description: </label><input type="text" name="AchievementDescription" id="AchievementDescription">
        <br><br><br><hr><br>
        <br><br><hr><hr>






        <label>Certificates: </label>
        <br><br><hr>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><br>
        <label>Certificate Heading: </label><input type="text" name="CertificateHeading" id="CertificateHeading">
        <br><br>
        <label>Certificate TimeLine: </label><input type="text" name="CertificateStartTime" id="CertificateStartTime">&emsp;<input type="text" name="CertificateEndTime" id="CertificateEndTime">
        <br><br>
        <label>Certificate Description: </label><input type="text" name="CertificateDescription" id="CertificateDescription">
        <br><br><hr><hr>



        <label>Interests: </label>
        <br><br><hr><br>
        <label>Interest 1: </label><input type="text" name="Interest" id="CandidateInterest1">
        <br><br>
        <label>Interest 2: </label><input type="text" name="Interest" id="CandidateInterest2">
        <br><br>
        <label>Interest 3: </label><input type="text" name="Interest" id="CandidateInterest3">
        <br><br>
        <label>Interest 4: </label><input type="text" name="Interest" id="CandidateInterest4">
        <br><br>
        <label>Interest 5: </label><input type="text" name="Interest" id="CandidateInterest5">
        <br><br>
        <label>Interest 6: </label><input type="text" name="Interest" id="CandidateInterest6">
        <br><br><hr><hr>
        <input type="submit" value="Submit">
    </form>
</body>
</html>