<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><center>Enter Details in form</center></h1>
	<form>
		<label>Name: </label><input type="text" name="Name" id="CandidateName"><br>
		<label>Designation: </label>
		<input type="text" name="Designation" id="CandidateDesignation"><br>
		<label>Description: </label>
		<textarea name="Description" id="CandidateDescription" rows="10" cols="100"></textarea><br>
		<label>Gmail: </label><input type="text" name="Gmail" id="CandidateGmail"><br>
		<label>Phone Number: </label>
		<input type="text" name="PhoneNumber" id="CandidatePhoneNumber"><br>
		<label>Location: </label><input type="text" name="Location" id="CandidateLocation"><br>
		<label>Linked In: </label><input type="text" name="LinkedIn" id="CandidateLinkedIn"><br>
		<label>Github: </label><input type="text" name="Github" id="CandidateGithub"><br>
		<label>Education: </label><input type="text" name="Name" id="CandidateName"><br>
		<label>Personal Projects: </label><input type="text" name="Name" id="CandidateName"><br>
		<label>Skills: </label><input type="text" name="Name" id="CandidateName"><br>
		<label>Achievements: </label><input type="text" name="Name" id="CandidateName"><br>
		<label>Certificates</label><input type="text" name="Name" id="CandidateName"><br>
		<label>Interests</label><input type="text" name="Name" id="CandidateName"><br>
	</form>
</body>
</html>